<% the_user = params.fetch("user_name") %>

<h1><%= the_user %> </h1>

<% @user = User.where(:username => the_user).at(0) %>
<dl>
  <dt>
    ID
  </dt>
  <dd>
    <%= @user.id %>
  </dd>

  <dt>
    Edit user
  </dt>
  <dd>
    <form action="/update_user/112" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" value=cristina>

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (11)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>


    <tr>
      <td>
        <img src=https://robohash.org/occaecatiquianimi.png?size=300x300&amp;set=set1>
      </td>

      <td>
        cristina
      </td>

      <td>
        Do the dead frighten you?
      </td>

      <td>
        2018-05-14 01:47:42 UTC
      </td>

      <td>
        <a href="/photos/880">
          Show details
        </a>
      </td>
    </tr>
    </table>
